.navv{
    background-color: rgb(251, 107, 119) !important;
    color: white !important;
    margin: auto !important;
}
.bi.bi-justify{
    margin-left: -12%;
    padding-right: 3%;
    cursor: pointer;
}
.order{
    
    color: white !important;
}
.lin{
    color: white !important;
    text-decoration: none;
    padding-right: 15px;
    
}
form{
    width: 75%;
    height: 10%;
    border-radius: 5px;
    margin-top: 0.1%;
    margin-bottom: 1%;
    padding: 19px;
    border-style: groove;
}
.control2{
    margin-left: 2%;
    width: 70%;
    color: black;
    border: none;
    padding-top: 20px;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid ;
 }
 .control1{
     margin-left: 2%;
     padding-bottom: 15%;
     margin-bottom: 4%;
     width: 70%;
     border: none;
     padding-top: 20px;
     border-bottom: 1px solid ;
 }
 .btn.btn-primary{
    background-color:rgb(27, 171, 149);
    border-color: rgb(27, 171, 149);
    color: white;
    text-align: center;
    border-radius: 4px;
     
}
.btn.btn-secondary{
    background-color: rgb(17, 110, 250);
    border-color: rgb(17, 110, 250);
}
.btn.btn-secondary2{
    margin-left: 2px;
    color: white;
    background-color: red;
    border-color: red;
}

.fixed-width-row{
    width:65%
}
.ok.d-flex{
    border: none;
    width: 100%;
    margin: auto;
}
.sear{
    width: 20% !important;
    margin-right: 0.5%;
    
}
.opt{
    width: 30% !important;
    margin-right: 1%;
}
.sor{
    visibility: hidden;
    margin: auto;
}
.me-2{
    width: 15% !important;
    margin-right: 0px !important;
    
}
.me-2:focus{
    box-shadow: none !important;
    

}
.bt{
    margin-left: -1% !important;
    width: 5%;
    background-color: #3399ff !important;
    color: white !important;
    border-radius: 0px !important;
    
}
*:focus{
    box-shadow: none !important;
}
.bi.bi-fonts{
    font-size: 30px;
    font-weight: bolder;
}
.bi.bi-file-text-fill{
    font-size: 30px;
    font-weight: bolder;
}
.bu{

    background-color: rgb(251, 107, 119) !important;
    border: none !important;
}
.bd{
    margin-left: -15% !important;
    padding-right: 1%;
}
.bc.justify-content-end{
    margin-right: -10% !important;
    color: white !important;
}